*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: crimson;
}

.card{
    width: 700px;
    background: white;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
    border: 20px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#21d4fd,#b721ff);
    border-radius: 100px;
}

/* h */