*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: darkblue;
}

.title{
  text-align: center;
  color: white;
  padding: 25px;
}

.img{
  width: 300px;
  height: auto;
}

.container{
  display: flex;
  margin: 10px;
  padding:10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container div{
  margin: 10px;
  color: white;
  flex-basis: 20%;
}